@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;700&display=swap');

/* Global font */
:root {
  --ifm-font-family-base: 'Oxanium', sans-serif;

  /* Background & Base Text */
  --ifm-background-color: #ffffff; /* Dark background for neon contrast */
  --ifm-font-color-base: #050202; /* Light text for readability */

  /* Neon Primary Colors */
  --ifm-color-primary: #7a27a1; /* Neon Cyan */
  --ifm-color-primary-dark: #c8effd;
  --ifm-color-primary-darker: #933ecf;
  --ifm-color-primary-light: #301ed4;
  --ifm-color-primary-lighter: #1d24a4;

  /* Neon Secondary Colors */
  --ifm-color-secondary: #250e25; /* Neon Magenta */
  --ifm-color-secondary-dark: #341434;
  --ifm-color-secondary-darker: #3c183c;
  --ifm-color-secondary-light: #401e40;
  --ifm-color-secondary-lighter: #521b52;

  /* Code block */
  --ifm-code-font-size: 100%;
  --docusaurus-highlighted-code-line-bg: rgba(191, 182, 190, 0.1);
}

/* Links */
a {
  color: var(--ifm-color-secondary);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--ifm-color-secondary-light);
  text-shadow: 0 0 8px var(--ifm-color-secondary);
}

/* Buttons */
.button {
  background-color: var(--ifm-color-primary);
  color: #f0f0f0;
  border: 1px solid var(--ifm-color-primary);
  box-shadow: 0 0 10px var(--ifm-color-primary);
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--ifm-color-primary-dark);
  border-color: var(--ifm-color-primary-dark);
  box-shadow: 0 0 15px var(--ifm-color-primary-dark);
  transform: translateY(-2px);
}

html[data-theme='light'] {
  background-image: url('/img/IT.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
